<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>{{title}}</h1>
        <img src="/img/about_image.png">
        <p> created by {{name}}</p>
        
        <Footer>
            <script src="js/app.js"></script>
         </Footer>
    </body>
</html>