<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>{{title}}</h1>
        <p> {{message}}</p>
        
        <Footer>
            <script src="js/app.js"></script>
         </Footer>
    </body>
</html>